/* Enter your Styles below! */

body {
	font-family: 'Be Vietnam', sans-serif;
	color: white;
}

	.homepage{
		background-image: url(../images/bg_homepage.png);
	}

	.noodles-pg{
		background-image: url(../images/bg_noodles.png);
	}

	.rolls-pg{
		background-image: url(../images/bg_rolls.png);
	}

	.fried-pg{
		background-image: url(../images/bg_fried.png);
	}

	.dessert-pg{
		background-image: url(../images/bg_dessert.png);
	}

header {
	min-height: 200px;
}

.logo {
	padding: 0px 50px;
	width: 100%;
	min-width: 100%;
}

a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

	.nav-noodles:hover {color: orange;}
	.nav-noodles:active {color: orange;}
	.nav-rolls:hover {color: teal;}
	.nav-rolls:active {color: teal;}
	.nav-fried:hover {color: #ee324c;}
	.nav-fried:active {color: #ee324c;}
	.nav-dessert:hover {color: #7c48aa;}
	.nav-dessert:active {color: #7c48aa;}

.wrapper { 
	background-color: black; width: 70%;
	margin: 0 auto;
	height: 100%;
 }

header {
	display: grid;
	grid-template-columns: 30% 70%;
	padding: 25px 0px;
}

nav{
	font-family: 'Yeseva One', cursive;	
}

nav ul {
	list-style-type:none;
	text-align: right;
	padding: 0px 50px;
	position: relative;
	top: 25%;
	line-height: 2em;
}

nav li {
	display: inline-block;
	text-transform: uppercase;
	padding-left: 50px;
}

main {
	color: black;
}

	.grid-content {
	  display: grid;
	  grid-template-columns:1fr 1fr;
	  grid-gap: 50px;
	  margin: 0px 50px 50px 50px;
	}

	.grid-img-home img {width: 100%;}


	.grid-img-noodles img {
		border-color:orange;
		border-style:solid;
		border-radius: 25px;
		border-width: 10px;
		width: 100%;
	}
	.grid-img-noodles img:nth-child(odd) {margin-right: 20px;}
	.grid-img-noodles img:nth-child(even) {margin-left: 20px;}


	.grid-text-bottom {text-align: right;}

	.grid-img-rolls img {
		border-color:teal;
		border-style:solid;
		border-radius: 25px;
		border-width: 10px;
		width: 100%;
	}
	.grid-img-rolls img:nth-child(odd) {margin-right: 20px;}
	.grid-img-rolls img:nth-child(even) {margin-left: 20px;}


	.grid-img-fried img {
		border-color:#ee324c;
		border-style:solid;
		border-radius: 25px;
		border-width: 10px;
		width: 100%;
	}
	.grid-img-fried img:nth-child(odd) {margin-right: 20px;}
	.grid-img-fried img:nth-child(even) {margin-left: 20px;}


	.grid-img-dessert img {
		border-color:#43166b;
		border-style:solid;
		border-radius: 25px;
		border-width: 10px;
		width: 100%;
	}
	.grid-img-dessert img:nth-child(odd) {margin-right: 20px;}
	.grid-img-dessert img:nth-child(even) {margin-left: 20px;}


h2 {
	font-family: 'Yeseva One', cursive;
	font-size: 28px;
}

	.noodles {color: orange;}

	.rolls {color: teal;}

	.fried {color: #ee324c;}

	.dessert {color: #7c48aa;}

p {
	color: white;
	font-size: 14px;
	line-height: 18px;
	margin-top: 5px;
}

footer {
	text-align: right;
	padding: 25px 50px;
	font-style: italic;
}


@media only screen and (max-width: 768px) {
	nav ul {
		top: 8%;
	}
	nav li {
		display: block;
	}
	.logo {
		min-width: 200px;
	}
	.wrapper {
		width: 80%;
	}
	.grid-content {
		display: block;
	}
	.grid-text {
		margin: 25px 0px;
	}
	.grid-bottom {
		margin: 25px 0px;
	}
}