/* Enter your Styles below! */

body {
	font-family: 'Be Vietnam', sans-serif;
	color: white;
}

	.homepage{
		background-image: url(../images/bg_homepage.png);
	}

	.noodles-pg{
		background-image: url(../images/bg_noodles.png);
	}

	.rolls-pg{
		background-image: url(../images/bg_rolls.png);
	}

	.fried-pg{
		background-image: url(../images/bg_fried.png);
	}

	.dessert-pg{
		background-image: url(../images/bg_dessert.png);
	}

a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

	.nav-noodles:hover {color: orange;}
	.nav-noodles:active {color: orange;}
	.nav-rolls:hover {color: teal;}
	.nav-rolls:active {color: teal;}
	.nav-fried:hover {color: red;}
	.nav-fried:active {color: red;}
	.nav-dessert:hover {color: purple;}
	.nav-dessert:active {color: purple;}

header, main, footer {
	background-color: black;
}

.wrapper { background-color: black; width: 70%;
		margin: 0 auto;
 }
header {
	display: grid;
	grid-template-columns: 20% 80%;
}

nav{
	font-family: 'Yeseva One', cursive;	
}

nav ul {
	list-style-type:none;
	text-align: right;
	min-height: 100px;
	padding: 100px 50px 50px 50px;
	column-span: 
}

nav li {
	display: inline-block;
	text-transform: uppercase;
	padding-left: 50px;
}

main {
	color: black;
}

	.grid-homenav {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	}

	.grid-menu {
		margin: 0px 35px;
	}
	.grid-content {
	  display: grid;
	  grid-template-columns:1fr 1fr;
	  grid-gap: 50px;
	  margin: 25px 50px 50px 50px;
	}

	.grid-img-noodles img {
		border-color:orange;
		border-style:solid;
		border-radius: 25px;
		border-width: 10px;
		width: 100%;
	}

	.grid-img-noodles img:nth-child(odd) {
		margin-right: 20px;}

	.grid-img-noodles img:nth-child(even) {
		margin-left: 20px;}


	.grid-text-bottom {
		text-align: right;
	}

	.grid-img-rolls img {
		border-color:teal;
		border-style:solid;
		border-radius: 25px;
		border-width: 10px;
		width: 100%;
	}

	.grid-img-rolls img:nth-child(odd) {
		margin-right: 20px;}

	.grid-img-rolls img:nth-child(even) {
		margin-left: 20px;}

	.grid-img-fried img {
		border-color:red;
		border-style:solid;
		border-radius: 25px;
		border-width: 10px;
		width: 100%;
	}

	.grid-img-fried img:nth-child(odd) {
		margin-right: 20px;}

	.grid-img-fried img:nth-child(even) {
		margin-left: 20px;}

	.grid-img-dessert img {
		border-color:purple;
		border-style:solid;
		border-radius: 25px;
		border-width: 10px;
		width: 100%;
	}

	.grid-img-dessert img:nth-child(odd) {
		margin-right: 20px;}

	.grid-img-dessert img:nth-child(even) {
		margin-left: 20px;}


h2 {
	font-family: 'Yeseva One', cursive;
	font-size: 28px;
}

	.noodles {
		color: orange;
	}

	.rolls {
		color: teal;
	}

	.fried {
		color: red;
	}

	.dessert {
		color: purple;
	}

p {
	color: white;
	font-size: 14px;
	line-height: 18px;
	margin-top: 5px;
}

footer {
	text-align: right;
	padding: 20px;
}